{% extends 'base.html.twig' %}
{% block titrePage %}Liste des entreprises proposant un stage{% endblock %}
{% block contenuPage %}

{% set etatLigne = 0 %}
<div class="row">
{% for entrepriseCourante in entreprises %}

  {# Si on a 4 cartes sur la ligne, on saute d'une ligne #}
  {% if etatLigne >= 4 %}
    </div>
    <div class="row mt-4">
      {% set etatLigne = 0 %}
  {% endif %}

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{entrepriseCourante.nom}}</h5>
        <p class="card-text">
          <ul>
            <li>Activite : {{entrepriseCourante.activite}}</li>
            <li>Adresse : {{entrepriseCourante.adresse}}</li>
            <li>Site : {{entrepriseCourante.site}}</li>
          </ul>
        </p>
        <a href="{{path('prostages_stagesEntreprise',{id:entrepriseCourante.id})}}" class="btn btn-primary">Afficher</a>
      </div>
    </div>
  </div>

  {% set etatLigne = etatLigne + 1 %}

{% endfor %}
</div>
{% endblock %}
