{% extends 'base.html.twig' %}
{% block titrePage %}Ajout d'une entreprise{% endblock %}
{% block contenuPage %}
  {{ form_start(formulaireEntreprise) }}
    {{form_row(formulaireEntreprise.nom, {'attr':{'placeholder':'IUT de Bayonne et du Pays Basque'}})}}
    <br>

    {{form_label(formulaireEntreprise.activite,'Activité')}}
    {{form_errors(formulaireEntreprise.activite)}}
    {{form_widget(formulaireEntreprise.activite, {'attr':{'placeholder':'Enseignement'}})}}
    <br>

    {{form_row(formulaireEntreprise.adresse, {'attr':{'placeholder':'2 Allée du Parc Montaury, 64600 Anglet'}})}}
    <br>

    {{form_label(formulaireEntreprise.site,'URL du site de l\'entreprise')}}
    {{form_errors(formulaireEntreprise.site)}}
    {{form_widget(formulaireEntreprise.site, {'attr':{'placeholder':'https://www.iutbayonne.univ-pau.fr/'}})}}
    <br>
    
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  {{ form_end(formulaireEntreprise) }}
{% endblock %}
